<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Account</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
{% extends 'project_market/base.html' %}

{% block header %}
  <h3>Dein Account</h3>
{% endblock header %}

{% block content %}

  <div class="jumbotron">
    <h4 class="display-4">Benutzername: {{ user.username }}</h4>
    <p class="lead">Wir sind froh, dass du ein Teil unserer Community bist.</p>
    <p class="lead">Du bist seit {{ user.date_joined }} dabei.</p>
    <hr class="my-4">
    <p>Bisher erstellte Projekte: {{ number_of_projects }}</p>
    <p>Bisher bewertete Projekte: {{ number_of_reviews }}</p>
    <hr class="my-3">
    {% if pending_requests == 0 %}
      <p>Derzeit hast du keine Zugriffsanfragen.</p>
    {% else %}
      <p>Du hast {{ pending_requests }} Zugriffsanfragen.</p>
      <a href="{% url 'users:show_pending_requests' %}"><button type="button" class="btn btn-outline-secondary">Anfragen ansehen</button></a>
    {% endif %}
    <hr class="my-1">
    <p class="lead">
      <br>Erzähl uns mehr über dich!<br><br>
      <a href="{% url 'users:add_user_info' %}"><button type="button" class="btn btn-outline-primary">Informationen hinzufügen</button></a>
    </p>
  </div>

{% endblock content %}
</body>
</html>