<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registrierung</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
{% extends 'project_market/base.html' %}

{% block header %}
  <h3>Konto erstellen</h3>
{% endblock header %}

{% block content %}

    <form method="post" action="{% url 'users:register' %}">
        {% csrf_token %}

        {{ field.errors }}

        <div class="form-group">
            <div class="row">
                <div class="col">
                    <input type="text" name="first_name" class="form-control" placeholder="Name" required>
                </div>
                <div class="col">
                    <input type="text" name="last_name" class="form-control" placeholder="Nachname" required>
                </div>
            </div>
            <br>
            <input type="email" name="email" class="form-control" placeholder="E-Mail Adresse" required>
            <br>
            <input type="text" name="username" class="form-control" placeholder="Benutzername" required>
            <br>
            <input type="date" name="birthday" class="form-control" placeholder="Geburtstag" required>
            <br>
            <input type="password" name="password1" class="form-control" placeholder="Passwort" required>
            <br>
            <input type="password" name="password2" class="form-control" placeholder="Passwort bestätigen" required>

        </div>
        <br>
        <button name="submit" class="btn btn-primary">Account erstellen</button>
        <input type="hidden" name="next" value="{% url 'project_market:index' %}"/>
    </form>

{% endblock content %}
</body>
</html>