<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registrierung</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
{% extends 'project_market/base.html' %}

{% block content %}

    <form method="post" action="{% url 'users:register' %}">
        {% csrf_token %}

        {{ field.errors }}

        {% for field in form %}
            <div class="form-group">
                {{ field.label }}<br>
                {{ field }}
                {{ field.help_text }}
            </div>
        {% endfor %}
        <br>
        <button name="submit" class="btn btn-primary">Account erstellen</button>
        <input type="hidden" name="next" value="{% url 'project_market:index' %}"/>
    </form>

{% endblock content %}
</body>
</html>