<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nachricht senden</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
{% extends 'project_market/base.html' %}

{% block header %}
  <h3>Versende eine Nachricht</h3>
{% endblock header %}

{% block content %}

  <form action="{% url 'messenger:send_message' %}" method="post">
    {% csrf_token %}

    {{ field.errors }}

    <div class="fieldWrapper form-group" aria-required="true">
      <label>Betreff</label>
      <input type="text" name="title" class="form-control" required id="id_title"/>
      <br>
      <label>Nachricht</label>
      <textarea name="content" class="form-control" rows="5" required></textarea>
      <br>
      <label>Empfänger</label>
      <select id="recipient" class="form-control" required>
        {% for recipient in form.recipient %}
          <option>{{ recipient }}</option>
        {% endfor %}
      </select>
      {{ counter }}
    </div>

    <hr class="my-3">
    <button type="submit" class="btn btn-primary">Nachricht senden</button>
  </form>

{% endblock content %}
</body>
</html>