<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nachricht senden</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
{% extends 'project_market/base.html' %}

{% block header %}
  <h3>Versende eine Nachricht</h3>
{% endblock header %}

{% block content %}

  <form action="{% url 'messenger:send_message' %}" method="post">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group">
        <label>{{ field.label_tag }}</label>
        <br>{{ field }}
        {{ field.errors }}
        <small>{{ field.help_text }}</small>
      </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock content %}
</body>
</html>