<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Projekte</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
{% extends 'project_market/base.html' %}

{% block header %}
  <h3>Projekte</h3>
{% endblock header %}

{% block content %}

  {% for project in projects %}
    <div class="card">
      <div class="card-header">
        {{ project.pub_date }} - {{ project.owner }}
        {% if project.is_private %}
          ∫
        {% endif %}
      </div>
      <div class="card-body">
        <a href="{% url 'project_market:project' project.id %}"><strong>{{ project }}</strong></a>
      </div>
    </div>
  <hr class="my-3">
  {% endfor %}

  <a href="{% url 'project_market:new_project' %}"><button type="submit" class="btn btn-primary">Neues Projekt</button></a>

{% endblock content %}
</body>
</html>